doctype html
html(lang='en')
  head
    title Gidahatari
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://d3js.org/d3.v4.min.js")

  body
    //p This is a paragraph
    script.
      var gida = !{JSON.stringify(data)};
      
      var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
      
      var parseDate = d3.timeParse("%Y%m%d");
      
      var x = d3.scaleTime().rangeRound([0,width]),
        y = d3.scaleLinear().rangeRound([height,0]),
        z = d3.scaleOrdinal(d3.schemeCategory10);
      
      
      var line1 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.NewYork); });
      
      var line2 = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.SanFrancisco); });
      
      var svg = d3.select("body")
        .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate("+margin.left+","+margin.top+")");
      
      gida.forEach(function(d){
        d.date = parseDate(d.date);
        d.NewYork = +d.NewYork;
        d.SanFrancisco = +d.SanFrancisco;
      });

      x.domain(d3.extent(gida, function(d) { return d.date; }));
      y.domain([0, d3.max(gida, function(d) { return Math.max(d.NewYork, d.SanFrancisco); })]);

      svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x))
        .select(".domain")
          .remove();

      svg.append("g")
          .call(d3.axisLeft(y))
      svg.append("text")
          .attr("fill", "#000")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", "0.71em")
          .attr("text-anchor", "end")
          .text("Temperature, ºF");

      svg.append("path")
          .datum(gida)
          .attr('stroke', function(d) {return "hsl(" + Math.random() * 360 + ",100%,50%)";})
          .attr("fill", "none")
          .attr("stroke-width", 1.5)
          .attr("d", line1);
      
      svg.append("path")
          .datum(gida)
          .attr("fill", "none")
          .attr('stroke', function(d) {return "hsl(" + Math.random() * 360 + ",100%,50%)";})
          .attr("stroke-width", 1.5)
          .attr("d", line2);
      
      console.log("hsl(" + Math.random() * 360 + ",100%,50%)")
