doctype doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Gidahatari-Nodejs
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/app.css")
  body
    block contenido
