doctype html
html(lang='en')
  head
    title Gidahatari
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')

  body

      .col-md-8
        h2.text-center Chart.js Bar Chart Demo
        canvas#myChart
        script.
          
          var ctx = document.getElementById('myChart').getContext("2d");
          var gradientStroke = ctx.createLinearGradient(0, 0, 1200, 0);
          gradientStroke.addColorStop(0, "#80b6f4");
          gradientStroke.addColorStop(0.2, "#94d973");
          gradientStroke.addColorStop(0.5, "#fad874");
          gradientStroke.addColorStop(1, "#f49080");
          
          var gradientFill = ctx.createLinearGradient(500, 0, 100, 0);
          gradientFill.addColorStop(0, "rgba(128, 182, 244, 0.6)");
          gradientFill.addColorStop(1, "rgba(244, 144, 128, 0.6)");
          var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL"],
                  datasets: [{
                      label: "Data",
                      borderColor: gradientStroke,
                      pointBorderColor: gradientStroke,
                      pointBackgroundColor: gradientStroke,
                      pointHoverBackgroundColor: gradientStroke,
                      pointHoverBorderColor: gradientStroke,
                      pointBorderWidth: 10,
                      pointHoverRadius: 10,
                      pointHoverBorderWidth: 1,
                      pointRadius: 3,
                      fill: true,
                      backgroundColor: gradientStroke,
                      borderWidth: 4,
                      data: [100, 120, 150, 170, 180, 170, 160]
                  }]
              },
              options: {
                  legend: {
                      position: "bottom"
                  },
                  scales: {
                      yAxes: [{
                          ticks: {
                              fontColor: "rgba(0,0,0,0.5)",
                              fontStyle: "bold",
                              beginAtZero: true,
                              maxTicksLimit: 5,
                              padding: 20
                          },
                          gridLines: {
                              drawTicks: false,
                              display: false
                          }
          }],
                      xAxes: [{
                          gridLines: {
                              zeroLineColor: "transparent"
          },
                          ticks: {
                              padding: 20,
                              fontColor: "rgba(0,0,0,0.5)",
                              fontStyle: "bold"
                          }
                      }]
                  }
              }
          });
          
