doctype html
html(lang='en')
  head
    title Gidahatari
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://d3js.org/d3.v4.min.js")

  body
    //p This is a paragraph
    script.
      var gida = !{JSON.stringify(data)};
      console.log(gida);
      
      var margin = {top: 20, right: 20, bottom: 70, left: 40},
        width = 600 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;
      
      var parseDate = d3.timeParse("%Y-%m");
      
      var x = d3.scaleBand().rangeRound([0,width]).paddingInner(0.05);
      var y = d3.scaleLinear().range([height,0]);
      
      var color = d3.scaleLinear()
                  .domain([0,60])
                  .range(["red", "blue"]);

      
      var xAxis = d3.axisBottom(x)
          .tickFormat(d3.timeFormat("%Y-%m"));
      
      var yAxis = d3.axisLeft(y)
          .ticks(10);
          
      var svg = d3.select("body")
        .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate("+margin.left+","+margin.top+")");
  
      gida.forEach(function(d){
        d.date = parseDate(d.date);
        d.value = +d.value;
      });
          
      x.domain(gida.map(function(d){return d.date;}));
      y.domain([0, d3.max(gida,function(d){return d.value;})]);
        
      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0, " +height+")")
          .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-.8em")
          .attr("dy", "-.55em")
          .attr("transform", "rotate(-90)");
  
      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
      svg.append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Value ($)");
        
      svg.selectAll("bar")
          .data(gida)
          .enter()
            .append("rect")
            .attr("x", function(d) { return x(d.date); })
            .attr("width", x.bandwidth())
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d){return height - y(d.value);})
            .style("fill", "steelblue");
