html(lang='en')
  head
    title Gidahatari
    meta(charset='utf-8')
    script(src='https://unpkg.com/leaflet@1.3.1/dist/leaflet.js', integrity='sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==', crossorigin='')
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.1/dist/leaflet.css', integrity='sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==', crossorigin='')
    style.
      #map{width: 900px; height: 500px}
      
    
  body

      #map
      script.
        var map = L.map('map').setView([39.75621,-104.99404], 4);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> ',
        maxZoom: 18,
        minZoom: 1,
        }).addTo(map);
        
        // Colorear por atributos de GEOJSON
        var states = [{
        "type": "Feature",
        "properties": {"party": "Republican"},
        "geometry": {
        "type": "Polygon",
        "coordinates": [[
            [-104.05, 48.99],
            [-97.22,  48.98],
            [-96.58,  45.94],
            [-104.03, 45.94],
            [-104.05, 48.99]
            ]]
          }
        }, {
        "type": "Feature",
        "properties": {"party": "Democrat"},
        "geometry": {
        "type": "Polygon",
        "coordinates": [[
            [-109.05, 41.00],
            [-102.06, 40.99],
            [-102.03, 36.99],
            [-109.04, 36.99],
            [-109.05, 41.00]
        ]]
        }
        }];

        L.geoJSON(states, {
        style: function(feature) {
        switch (feature.properties.party) {
            case 'Republican': return {color: "#ff0000"};
            case 'Democrat':   return {color: "#0000ff"};
              }
              }
        }).addTo(map);
        
        // Popup para cada elemento
        
        function onEachFeature(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }

        var geojsonFeature = [{
            "type": "Feature",
            "properties": {
                "name": "Coors Field",
                "amenity": "Baseball Stadium",
                "popupContent": "This is where the Rockies play!"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-104.99404, 39.75621]
            }
        },{
            "type": "Feature",
            "properties": {
                "name": "Coors Field",
                "amenity": "Baseball Stadium",
                "popupContent": "I don´t know where I am"
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-103.99404, 40.75621]
            }
        }
        ];

        L.geoJSON(geojsonFeature, {
            onEachFeature: onEachFeature
        }).addTo(map);
        
        
        // Filtrar según valores
        var someFeatures = [{
            "type": "Feature",
            "properties": {
                "name": "Coors Field",
                "show_on_map": true
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-96.261903, 41.918402]
            }
        }, {
            "type": "Feature",
            "properties": {
                "name": "Busch Field",
                "show_on_map": false
            },
            "geometry": {
                "type": "Point",
                "coordinates": [-97.778016,40.413264]
            }
        }];

        L.geoJSON(someFeatures, {
            filter: function(feature, layer) {
                return feature.properties.show_on_map;
            }
        }).addTo(map);
        
        var popup = L.popup()
          .setLatLng([41.00, -109.05 ])
          .setContent("I am a standalone popup.")
          .openOn(map);
        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }
      

        map.on('click', onMapClick);
        
        
        
        
